.product__card {
  border: 1px solid var(--very-dark-gray);
  padding: 10px;
  font-size: 16px;
  font-family: var(--font-inter);
  box-shadow: var(--shadow-light);
  cursor: pointer;
  color: var(--almost-black);
  text-decoration: none;
  transition: background-color 200ms ease;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: var(--light-gray);
  }

  &.active {
    background-color: var(--light-gray-10);
  }
}

.product__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  display: block;
  text-align: right;
  color: var(--almost-black);
}

.available {
  color: var(--green);
  font-weight: 600;
}

.unavailable {
  color: var(--red);
  font-weight: 600;
}
