.header__container {
  height: 120px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.select__sort {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.select__sort select {
  outline: none;
  max-width: 100px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 0;
  border: 1px solid var(--dark-gray);
  box-shadow: var(--shadow-light);
}

.select__sort option,
.select__sort select {
  cursor: pointer;
  font-family: var(--font-inter);
  font-size: 15px;
}

.btn__product--add {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 10px;
  font-family: var(--font-inter);
  font-size: 16px;
  color: var(--very-dark-gray);
}

.btn__product--add svg {
  color: inherit;
}

.btn__product--add:hover {
  color: var(--dark-gray);
}

.button__container {
  justify-self: end;
}
