.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--backdrop);
}

.modal__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: grid;
  place-items: center;
}

.modal {
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: var(--shadow-light);
}

.h-2 {
  height: 20px;
}

.w-2 {
  width: 20px;
}

.close {
  text-align: right;

  & svg {
    cursor: pointer;
    color: var(--almost-black);
  }

  & button {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    transition: background-color 300ms ease-out;
    display: flex;
    margin-left: auto;
    padding: 2px;

    &:hover {
      background-color: var(--light-gray-transparent-6);
      & svg {
        color: var(--dark-gray);
      }
    }
  }
}
