.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--backdrop);
}

.modal__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: grid;
  place-items: center;
}

.modal {
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: var(--shadow-light);
}

.h-2 {
  height: 20px;
}

.w-2 {
  width: 20px;
}

.close svg {
  cursor: pointer;
  color: var(--almost-black);
}

.close {
  text-align: right;
}

.close button {
  background-color: transparent;
  border: none;
}

.close button:hover svg {
  color: var(--dark-gray);
}
